
.card_div{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-direction: column;
padding: 20px;
border: 2px solid rgb(243, 5, 5);
height: 600px;
}

.infos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img{
  width: 100px;
  height: 200px;
}




